@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: 	indigo ;
  --secondary: #1e1e24  ;
}

/* Edit the default scrollbar style */ 
/* Firefox  */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--secondary);
}

/* Chrome, Edge, and Safari */ 
body::-webkit-scrollbar{
  width: 0.25rem; 
}

body::-webkit-scrollbar-track{
  background: var(--secondary);
  border-radius: 0.2rem;
}

body::-webkit-scrollbar-thumb{
  background: var(--primary);
  border-radius: 1rem;
}
